In [4]:
import pandas as pd
import openpyxl

In [5]:
data = pd.read_csv(r"D:/Python/projects/World_University/New folder/WorldUniversity.csv")

print(data.head())

   world_rank                            institution         country  \
0           1                     Harvard University             USA
1           2  Massachusetts Institute of Technology             USA
2           3                    Stanford University             USA
3           4                University of Cambridge  United Kingdom
4           5     California Institute of Technology             USA

   national_rank  quality_of_education  alumni_employment  quality_of_faculty  \
0              1                     7                  9                   1
1              2                     9                 17                   3
2              3                    17                 11                   5
3              1                    10                 24                   4
4              4                     2                 29                   7

   publications  influence  citations  broad_impact  patents   score  year
0             1          1          1           NaN        5  100.00  2012
1            12          4          4           NaN        1   91.67  2012
2             4          2          2           NaN       15   89.50  2012
3            16         16         11           NaN       50   86.17  2012
4            37         22         22           NaN       18   85.21  2012

In [3]:
data.columns

Index(['world_rank', 'institution', 'country', 'national_rank',
       'quality_of_education', 'alumni_employment', 'quality_of_faculty',
       'publications', 'influence', 'citations', 'broad_impact', 'patents',
       'score', 'year'],
      dtype='object')

In [3]:
data.info()                 # checking for columns data and their datatypes

NameError: name 'data' is not defined

In [5]:
data.duplicated().sum()

np.int64(0)

In [6]:
data.duplicated(subset = ['world_rank', 'institution','national_rank','year'])

0       False
1       False
2       False
3       False
4       False
        ...
2195    False
2196    False
2197    False
2198    False
2199    False
Length: 2200, dtype: bool

In [7]:
data.duplicated(subset = ['world_rank', 'institution','national_rank','year']).sum()

np.int64(0)

In [12]:
data.isnull().sum()         #checking for null values

world_rank                0
institution               0
country                   0
national_rank             0
quality_of_education      0
alumni_employment         0
quality_of_faculty        0
publications              0
influence                 0
citations                 0
broad_impact            200
patents                   0
score                     0
year                      0
dtype: int64

In [13]:
data.fillna(0,inplace = True)      #replacing null values with 0

In [14]:
data.isnull().sum()                    # no more null values are present in data

world_rank              0
institution             0
country                 0
national_rank           0
quality_of_education    0
alumni_employment       0
quality_of_faculty      0
publications            0
influence               0
citations               0
broad_impact            0
patents                 0
score                   0
year                    0
dtype: int64

In [15]:
data['broad_impact'].isnull().sum()

np.int64(0)

In [ ]:
# pip install pyodbc

In [6]:
import pyodbc as odbc

In [7]:
import numpy as np 
import pandas as pd 
import sqlite3
import matplotlib.pyplot as plt

In [8]:
import pyodbc
print(pyodbc.drivers())

['SQL Server', 'ODBC Driver 17 for SQL Server', 'SQL Server Native Client RDA 11.0', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)']

In [9]:
Connection_string = (

        r'DRIVER={ODBC Driver 17 for SQL Server};'
        r'SERVER= SAMARTH\SQLEXPRESS;'
        r'DATABASE=master;'
        r'Trusted_Connection=yes;'
        

)
Conn = odbc.connect(Connection_string)
print(Conn)

<pyodbc.Connection object at 0x000001EB36F8A3F0>

In [10]:
type(Conn)

pyodbc.Connection

In [11]:
from sqlalchemy.engine import URL
connection_url = URL.create("mssql+pyodbc", query={"odbc_connect": Connection_string})

from sqlalchemy import create_engine
engine = create_engine(connection_url)

In [21]:
import sqlalchemy as sa
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT TOP 10 * FROM WorldUniversity"), conn)
    print(df)

   world_rank                            institution         country  \
0           1                     Harvard University             USA
1           2  Massachusetts Institute of Technology             USA
2           3                    Stanford University             USA
3           4                University of Cambridge  United Kingdom
4           5     California Institute of Technology             USA
5           6                   Princeton University             USA
6           7                   University of Oxford  United Kingdom
7           8                        Yale University             USA
8           9                    Columbia University             USA
9          10              "University of California       Berkeley"

   national_rank  quality_of_education  alumni_employment  quality_of_faculty  \
0            1.0                     7                  9                   1
1            2.0                     9                 17                   3
2            3.0                    17                 11                   5
3            1.0                    10                 24                   4
4            4.0                     2                 29                   7
5            5.0                     8                 14                   2
6            2.0                    13                 28                   9
7            6.0                    14                 31                  12
8            7.0                    23                 21                  10
9            NaN                     8                 16                  52

   publications  influence  citations  broad_impact  patents  score  year
0             1          1          1           NaN      5.0    100  2012
1            12          4          4           NaN      1.0     92  2012
2             4          2          2           NaN     15.0     90  2012
3            16         16         11           NaN     50.0     86  2012
4            37         22         22           NaN     18.0     85  2012
5            53         33         26           NaN    101.0     82  2012
6            15         13         19           NaN     26.0     82  2012
7            14          6         15           NaN     66.0     79  2012
8            13         12         14           NaN      5.0     79  2012
9             6          6          5           3.0      NaN     16    79

In [ ]:
# Questions using SQL:
# 1)	Retrieve all columns for universities in the USA.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT * FROM WorldUniversity"), conn)
    print(df)

In [ ]:
# 3)	List universities in the United Kingdom with a score above 80 in 2013.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT institution,country, score, year FROM WorldUniversity WHERE country = 'United Kingdom' AND year = 2013 AND score > 80;"), conn)
                                     
print(df)

In [23]:
# 4)	Count the number of universities in each country
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT country, COUNT(institution) as Count FROM WorldUniversity GROUP BY country;"), conn)
                                     
print(df)

                                           country  Count
0                                          Vienna"      2
1                             United Arab Emirates      2
2                                        Maynooth"      2
3                                 University Park"      4
4                                           Uganda      2
..                                             ...    ...
98                                         Sydney"      2
99    The State University of New Jersey - Newark"      2
100                                    Santa Cruz"      2
101                                      Argentina      7
102                                   Los Angeles"      4

[103 rows x 2 columns]

In [24]:
# 5)	Calculate the average score for universities in each country in 2014.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT country, institution, AVG(score) FROM WorldUniversity WHERE year = 2014 GROUP BY country, institution;"), conn)
                                     
print(df)

     country                                        institution
0      Italy  "University of Eastern Piedmont Amedeo Avogadr...  45
1    Finland                            Ã…bo Akademi University  45
2     France                              Ã‰cole Centrale Paris  45
3     France                 Ã‰cole normale supÃ©rieure - Paris  60
4     France                 Ã‰cole normale supÃ©rieure de Lyon  45
..       ...                                                ...  ..
947   Taiwan                                 Yuan Ze University  44
948    China                         Zhejiang Normal University  44
949    China                                Zhejiang University  48
950    China                  Zhejiang University of Technology  44
951    China                               Zhengzhou University  44

[952 rows x 3 columns]

In [28]:
# 6)	Find universities with a quality_of_education score greater than 20.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT institution, quality_of_education FROM WorldUniversity WHERE quality_of_education > 20;"), conn)
                                     
print(df)

                          institution  quality_of_education
0                 Columbia University                    23
1                  Cornell University                    21
2          University of Pennsylvania                    31
3                 University of Tokyo                    32
4            Johns Hopkins University                    34
...                               ...                   ...
2087        University of the Algarve                   367
2088            Alexandria University                   236
2089     Federal University of CearÃ¡                   367
2090          University of A CoruÃ±a                   367
2091  China Pharmaceutical University                   367

[2092 rows x 2 columns]

In [ ]:
# 7)	Retrieve universities with a score between 70 and 80.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT institution, score FROM WorldUniversity WHERE score BETWEEN 70 AND 80;"), conn)
                                     
print(df)

In [1]:
# 8)	List the top 5 universities with the highest alumni employment scores in 2012.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT TOP 5 institution, alumni_employment FROM WorldUniversity WHERE year = 2012 ORDER BY alumni_employment DESC;"), conn)
                                     
print(df)

NameError: name 'engine' is not defined

In [ ]:
# 9)	Find the university with the highest quality_of_faculty in 2013.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT institution, quality_of_faculty FROM WorldUniversity WHERE quality_of_faculty = (SELECT MAX(quality_of_faculty) FROM WorldUniversity WHERE year = 2013);"), conn)
                                     
print(df)

In [ ]:
# 10)	Count the number of universities that have a national_rank less than 5.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT COUNT(institution) AS No_of_universities FROM WorldUniversity WHERE national_rank < 5;"), conn)
                                     
print(df)

In [ ]:
# 11)	Retrieve universities with a quality_of_education rank equal to 1.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT institution, quality_of_education FROM WorldUniversity WHERE quality_of_education = 1;"), conn)
                                     
print(df)

In [ ]:
# 12)	List the top 10 universities with the highest citations in 2014.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT TOP 10 institution, citations FROM WorldUniversity WHERE citations = (SELECT MAX(citations) FROM WorldUniversity WHERE year = 2014);"), conn)
                                     
print(df)

In [ ]:
# 13)	Calculate the average influence score for universities in the USA.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT institution, AVG(influence) AS influence_score FROM WorldUniversity WHERE country = 'USA' GROUP BY institution;"), conn)
                                     
print(df)

In [ ]:
# 14)	Find universities with a broad_impact rank less than or equal to 50.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT institution, broad_impact AS rank FROM WorldUniversity WHERE broad_impact <= 50;"), conn)
                                     
print(df)

In [ ]:
# 15)	Retrieve universities in Japan with a score greater than 60 in 2012.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT institution, country, score, year FROM WorldUniversity WHERE country = 'Japan' AND year = 2012 AND score > 60;"), conn)
                                     
print(df)

In [ ]:
# 16)	List the top 5 universities with the highest patents in 2013.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT TOP 5 institution, patents FROM WorldUniversity WHERE year = 2013 ORDER BY patents DESC;"), conn)
                                     
print(df)

In [ ]:
# 17)	Count the number of universities with a quality_of_faculty score between 5 and 10.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT quality_of_faculty, COUNT(institution) AS count_of_universities FROM WorldUniversity WHERE quality_of_faculty BETWEEN 5 AND 10 GROUP BY quality_of_faculty;"), conn)
                                     
print(df)

In [ ]:
# 18)	Calculate the average score for universities in the United Kingdom in 2014.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT institution,country, AVG(score) AS Avg_score FROM WorldUniversity WHERE country = 'United Kingdom' AND year = 2014 GROUP BY institution, country;"), conn)
                                     
print(df)

In [ ]:
# 19)	Find universities with a national_rank between 1 and 3 in 2012.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT institution, national_rank FROM WorldUniversity WHERE national_rank BETWEEN 1 AND 3;"), conn)
                                     
print(df)

In [ ]:
# 20)	List universities with a citations rank less than 10.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT institution, citations FROM WorldUniversity WHERE citations < 10;"), conn)
                                     
print(df)

In [ ]:
# 21)	Retrieve the university with the highest alumni_employment in 2013.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT institution, alumni_employment FROM WorldUniversity WHERE alumni_employment = (SELECT MAX(alumni_employment) FROM WorldUniversity WHERE year = 2013);"), conn)
                                     
print(df)

In [ ]:
# 22)	Find the top 5 universities with the highest publications in 2012.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT institution, publications FROM WorldUniversity WHERE publications = (SELECT MAX(publications) FROM WorldUniversity WHERE year = 2012);"), conn)
                                     
print(df)

In [ ]:
# 23)	Count the number of universities in each year.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT year, COUNT(institution) AS COUNT FROM WorldUniversity WHERE year IN (2012,2013,2014,2015) GROUP BY year ORDER BY year;"), conn)
                                     
print(df)

In [ ]:
# 24)	Calculate the average alumni_employment score for universities in the USA.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT institution, AVG(alumni_employment) AS avg_alumni_empl FROM WorldUniversity WHERE country = 'USA' GROUP BY institution;"), conn)
                                     
print(df)

In [ ]:
# 25)	Retrieve universities with a broad_impact score greater than 70.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT institution, broad_impact FROM WorldUniversity WHERE broad_impact > 70;"), conn)
                                     
print(df)

In [ ]:
# 26)	List the top 10 universities with the highest influence in 2014.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT TOP 10 institution, influence FROM WorldUniversity WHERE year = 2014 ORDER BY influence DESC;"), conn)
                                     
print(df)

In [ ]:
# 27)	Find universities with a patents rank equal to 1.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT institution,patents FROM (SELECT institution, patents, Rank() OVER (ORDER BY patents DESC) AS patents_rank FROM WorldUniversity) AS ranked_data WHERE patents_rank = 1;"), conn)
                                     
print(df)

In [ ]:
# 28)	Count the number of universities with a broad_impact between 20 and 30.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT COUNT(institution) AS count, broad_impact FROM WorldUniversity WHERE broad_impact BETWEEN 20 AND 30 GROUP BY broad_impact;"), conn)
                                     
print(df)

In [ ]:
# 29)	Calculate the average quality_of_faculty score for universities in the United Kingdom.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT institution, AVG(quality_of_faculty) AS avg_count FROM WorldUniversity WHERE country =  'United Kingdom' GROUP BY institution;"), conn)
                                     
print(df)

In [ ]:
# 30)	Find universities with an influence rank less than 5.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT institution, influence_rank, influence FROM (SELECT institution, influence, DENSE_RANK() OVER (ORDER BY influence DESC) AS influence_rank FROM WorldUniversity) AS influence_data WHERE influence_rank < 5;"), conn)
                                     
print(df)

In [ ]:
# 31)	Retrieve universities with a score greater than 75 and a national_rank less than or equal to 10 in 2013.
with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT institution, score, national_rank FROM WorldUniversity WHERE score < 75 AND national_rank <= 10 AND year = 2013 ORDER BY national_rank;"), conn)
                                     
print(df)

In [ ]:
# 32)	List the top 5 universities with the highest patents in 2014.
conn = engine.connect() 
df = pd.read_sql_query(sa.text("SELECT TOP 5 institution, patents FROM WorldUniversity WHERE year = 2014 ORDER BY patents DESC;"), conn)
                                     
print(df)

In [ ]:
# 33)	Count the number of universities with an alumni_employment score greater than 50.
conn = engine.connect() 
df = pd.read_sql_query(sa.text("SELECT COUNT(institution) FROM WorldUniversity WHERE alumni_employment > 50;"), conn)
conn.close()
df

In [ ]:
# 34)	Calculate the average quality_of_education score for universities in Japan.
conn = engine.connect() 
df = pd.read_sql_query(sa.text("SELECT institution, AVG(quality_of_education) AS avg_quality_of_education FROM WorldUniversity WHERE country = 'Japan' GROUP BY institution;"), conn)
conn.close()
df

In [ ]:
# 35)	Find universities with a quality_of_education rank equal to 1 in 2014.
conn = engine.connect() 
df = pd.read_sql_query(sa.text("SELECT institution, quality_of_education FROM (SELECT institution, quality_of_education, RANK() OVER (ORDER BY quality_of_education DESC) AS quality_of_education_rank FROM WorldUniversity WHERE year = 2014) AS quali_edu_data WHERE quality_of_education_rank =1;"), conn)
conn.close()
df

In [ ]:
# 36)	Retrieve universities with a score greater than 80 and an alumni_employment rank less than 5.
conn = engine.connect()
df = pd.read_sql_query(sa.text("SELECT institution, alumni_employment_rank, alumni_employment, score FROM ( SELECT institution, DENSE_RANK() OVER (ORDER BY alumni_employment DESC) AS alumni_employment_rank, score, alumni_employment FROM WorldUniversity WHERE score > 80) AS alumni_emplo_data WHERE alumni_employment_rank < 5;"), conn)
conn.close()
df

In [ ]:
# 37)	List the top 10 universities with the highest publications in 2013.
conn = engine.connect()
df = pd.read_sql_query(sa.text("SELECT TOP 10 institution, publications FROM WorldUniversity WHERE year = 2013 ORDER BY publications DESC;"), conn)
conn.close()
df

In [ ]:
# 38)	Count the number of universities with a broad_impact score between 40 and 50.
conn = engine.connect()
df = pd.read_sql_query(sa.text("SELECT broad_impact, COUNT(distinct institution) AS COUNT FROM WorldUniversity WHERE broad_impact BETWEEN 40 AND 50 GROUP BY broad_impact;"), conn)
conn.close()
df

In [ ]:
# 39)	Calculate the average score for universities in Australia.
conn = engine.connect()
df = pd.read_sql_query(sa.text("SELECT institution, AVG(score)AS ave_score FROM WorldUniversity WHERE country = 'Australia' GROUP BY institution;"), conn)
conn.close()
df

In [ ]:
# 40)	Find universities with an influence rank equal to 1 in 2012.
conn = engine.connect()
df = pd.read_sql_query(sa.text("SELECT influence_rank, institution, influence FROM(SELECT institution, RANK() OVER (ORDER BY influence DESC) AS influence_rank, influence FROM WorldUniversity WHERE year = 2012) AS influe_data WHERE influence_rank = 1;"), conn)
conn.close()
df

In [ ]:
# 41)	Retrieve universities with a quality_of_faculty score greater than 15.
conn = engine.connect()
df = pd.read_sql_query(sa.text("SELECT institution, quality_of_faculty FROM WorldUniversity WHERE quality_of_faculty > 15;"), conn)
conn.close()
df

In [ ]:
# 42)	List the top 5 universities with the highest alumni_employment in 2014.
conn = engine.connect()
df = pd.read_sql_query(sa.text("SELECT TOP 5 institution, alumni_employment FROM WorldUniversity WHERE year = 2014 ORDER BY alumni_employment DESC;"), conn)
conn.close()
df

In [1]:
# 43)	Count the number of universities with a national_rank less than 20 in 2013.
conn = engine.connect()
df = pd.read_sql_query(sa.text("SELECT institution, national_rank FROM WorldUniversity WHERE national_rank < 20 AND year = 2013;"), conn)
conn.close()
df

NameError: name 'engine' is not defined

In [ ]:
# 44)	Calculate the average citations score for universities in Germany.
conn = engine.connect()
df = pd.read_sql_query(sa.text("SELECT institution, AVG(citations) AS avg_citations FROM WorldUniversity WHERE country = 'Germany' GROUP BY institution;"), conn)
conn.close()
df

In [ ]:
# 45)	Find universities with a publications rank equal to 1.
conn = engine.connect()
df = pd.read_sql_query(sa.text("SELECT DISTINCT institution, publication_rank FROM (SELECT institution, RANK() OVER (ORDER BY publications) AS publication_rank FROM WorldUniversity) AS publication_data WHERE publication_rank = 1;"), conn)
conn.close()
df

In [ ]:
# 46)	Retrieve universities with a broad_impact score greater than 60 and a national_rank less than or equal to 5.
conn = engine.connect()
df = pd.read_sql_query(sa.text("SELECT national_rank, institution, broad_impact FROM WorldUniversity WHERE national_rank <= 5 AND broad_impact > 60;"), conn)
conn.close()
df

In [ ]:
# 47)	List the top 10 universities with the highest quality_of_education in 2012.
conn = engine.connect()
df = pd.read_sql_query(sa.text("SELECT TOP 10 institution, quality_of_education FROM WorldUniversity WHERE year = 2012 ORDER BY quality_of_education DESC;"), conn)
conn.close()
df

In [ ]:
# 48)	Count the number of universities with a score greater than 90.
conn = engine.connect()
df = pd.read_sql_query(sa.text("SELECT COUNT(institution) count FROM WorldUniversity WHERE score > 90;"), conn)
conn.close()
df

In [ ]:
# 49)	Calculate the average influence score for universities in the United Kingdom.
conn = engine.connect()
df = pd.read_sql_query(sa.text("SELECT institution, AVG(influence) AS avg_influence FROM WorldUniversity WHERE country = 'United Kingdom' GROUP BY institution;"), conn)
conn.close()
df

In [ ]:
# 50)	Find universities with a quality_of_education rank less than or equal to 5 in 2014.
conn = engine.connect()
df = pd.read_sql_query(sa.text("SELECT quality_of_education_rank, institution, quality_of_education FROM (SELECT DENSE_RANK() OVER (ORDER BY quality_of_education) AS quality_of_education_rank, institution,quality_of_education FROM WorldUniversity WHERE year = 2014) AS quality_of_edu_data WHERE quality_of_education_rank <= 5;"), conn)
conn.close()
df

In [ ]:
# 1)	What is the total number of records in the dataset?
records = data.shape[0]
print(records)

In [ ]:
# 2)	How many columns are there in the dataset?
column = data.shape[1]
print(column)

In [ ]:
# 3)	What is the datatype of the "world_rank" column?
data['world_rank'].dtype

In [ ]:
# 4)	Which country is represented the most in the dataset?
most_country = data['country'].value_counts().idxmax()
print(most_country)

In [ ]:
# 5)	What is the average "quality_of_education" across all institutions?
avg = data['quality_of_education'].mean()
print(avg)

In [ ]:
# 6)	Find the institution with the highest "alumni_employment" value.
institute = data.loc[data['alumni_employment'].idxmax(), 'institution']
print(institute)

In [ ]:
# 7)	In which year does the dataset end?
year = data['year'].max()
print(year)

In [ ]:
# 8)	How many unique countries are present in the dataset?
uniq_country = data['country'].nunique()
print(uniq_country)

In [ ]:
# 9)	Which institution has the highest "score" in the year 2012?
high_score = data[data['year'] == 2012].loc[data['score'].idxmax(), 'institution']
print(high_score)

In [ ]:
# 10)	What is the national rank of Harvard University in the year 2012?
national_rank = data[data['year']==2012].loc[data['institution'] =='Harvard University', 'world_rank']
print(national_rank)

In [ ]:
# 11)	Find the average "publications" value for institutions in the United Kingdom.
uk = data[data['country'] == 'United Kingdom']
print(uk['publications'].mean())

In [ ]:
# 12)	Identify the institution with the highest "influence" in the year 2013.
data_2013 = data[data['year'] == 2013]
high_influ = data_2013[data_2013['influence'] == data_2013['influence'].max()]
Answer = high_influ[['institution','influence']]
Answer

In [ ]:
# 13)	What is the minimum "broad_impact" value in the dataset?
x = data['broad_impact'].idxmin()
print("Minimum broad impact value in data:",x)

In [ ]:
# 14)	How many institutions are from Japan in the year 2012?
data_2012 = data[data['year'] == 2012]
insti_japan = data_2012.loc[data_2012['country'] == 'Japan', 'institution']
count_of_institution = insti_japan.value_counts().sum()
print(count_of_institution)

In [ ]:
# 15)	What is the average "patents" value for institutions in the USA in the year 2013?
dt_2013 = data[(data['year'] == 2013) & (data['country'] == 'USA')]
print(dt_2013['patents'].mean())

In [ ]:
# 16)	Find the top 5 institutions with the highest "citations" in the year 2015.
top5_data = data[data['year'] == 2015].nlargest(5, 'citations')
print(top5_data[['institution', 'citations']])

In [ ]:
# 17)	What is the median "international_students" percentage across all institutions?

In [ ]:
# 18)	Identify the institution with the lowest "income" in the year 2014.

In [ ]:
# 19)	How many missing values are there in the "total_score" column?
data['score'].isnull().sum()

In [ ]:
# 20)	Find the top 3 countries with the most institutions in the dataset.
top3_countries = data['country'].value_counts().nlargest(3)
print(top3_countries)

In [ ]:
# 21)	Calculate the percentage of institutions with a "research" score greater than 70.
df_70 = data[data['score'] > 70]
institute_count = df_70['institution'].value_counts()
total_count = df_70['institution'].value_counts().sum()
percentage_of_institute = (institute_count/total_count)*100
print(percentage_of_institute)

In [ ]:
# 22)	What is the difference in "teaching" score between Harvard and Stanford University in 2015?

# calculating teaching score using existing columns
data['teaching_score'] = (data['quality_of_education'] + data['quality_of_faculty'] + data['alumni_employment']) / 3

# data for year 2015
data_2015 = data[data['year'] == 2015]

# data is grouped by institution based on teaching score
institute_teaching_score = data_2015.groupby('institution')['teaching_score'].mean().reset_index()
institute_teaching_score

# calculating teaching score for each institution
Harvard_teaching_score = institute_teaching_score[institute_teaching_score['institution'] == 'Harvard University']['teaching_score'].values[0]
stanford_teaching_score = institute_teaching_score[institute_teaching_score['institution'] == 'Stanford University']['teaching_score'].values[0]

# calculating difference between institutions
diff_teach_score = abs(Harvard_teaching_score - stanford_teaching_score)
diff_teach_score

In [ ]:
# 23)	How many institutions have a "world_rank" between 50 and 100 in the year 2014?

data_2014 = data[data['year'] == 2014]

institutes = data_2014[(data_2014['world_rank'] >= 50) & (data_2014['world_rank'] <= 100)]
ans = institutes[['institution','world_rank','year']]
print(ans)

In [ ]:
# 24)	Find the country with the highest average "industry_income" across all years.

In [ ]:
# 25)	What is the standard deviation of "research" scores for institutions in the United States?

data['research_score'] = (data['publications']*0.3) + (data['influence']*0.15) + (data['citations']*0.20) + (data['broad_impact']*0.15) + (data['patents']*0.20)
data_usa = data[data['country'] == 'USA']
sdev = data_usa['research_score'].std()
print(sdev)

In [ ]:
# 26)	Identify the institution with the highest "alumni_employment" in the year 2015.

data_2015 = data[(data['year'] == 2015) & (data['alumni_employment'] == data['alumni_employment'].max())]
data_2015[['institution','alumni_employment']].sort_values(by = 'institution', ascending = True)

In [ ]:
# 27)	Calculate the correlation between "score" and "research" across all years.

correlation = data.groupby('year')[['score','research_score']].corr()
print(correlation)

In [ ]:
# 28)	How many institutions have a "broad_impact" greater than 800 in the year 2014?
data_2014 = data[data['year'] == 2014]
high_broad_impact = data_2014[data_2014['broad_impact'] > 800]
high_broad_impact[['institution','broad_impact']].sort_values(by = 'institution',ascending = True)

In [ ]:
# 29)	Find the average "international_students" percentage for institutions in Australia.

In [ ]:
# 30)	Identify the institution with the highest "total_score" in the year 2015.

# for this que. we have to calculate total score but we dont have column like total score.
# We can calculate total_score by considering other columns score as total_score contributors

data['total_score'] = (data['teaching_score']*0.30) + (data['research_score']*0.50) + (data['score']*0.20)

data_2015 = data[(data['year'] == 2015) & (data['total_score'] == data['total_score'].max())] 
data_2015[['institution', 'total_score']]

In [ ]:
# 31)	What is the percentage of missing values in the "female_male_ratio" column?

In [ ]:
# 32)	How many institutions have a "score" greater than 90 in the year 2013?

df = data[(data['year'] == 2013) & (data['score'] > 90) ]
count = df['institution'].value_counts().sum()

print(count)

In [ ]:
# 33)	Calculate the average "research" score for institutions in the top 10 of "total_score" in 2015.

data_2015 = data[data['year'] == 2015]           # data of year 2015
data_2015
data_top10 = data_2015.nlargest(10, 'total_score')          # top 10 total_score institutions in 2015
avg_research_score = data_top10['research_score'].mean()    
print("avg_research_score:",avg_research_score)

In [ ]:
# 34)	Identify the institution with the lowest "international_students" percentage in the year 2012.

In [ ]:
# 35)	What is the range of "score" values in the dataset?
score_range = data['score'].max() - data['score'].min()
print(score_range)

In [ ]:
# 36)	How many institutions have a "national_rank" of 1 in the year 2014?

data_rank1 = data[(data['national_rank'] == 1) & (data['year'] == 2014)]
count = data_rank1['institution'].value_counts().sum()
print(count)

In [ ]:
# 37)	Find the country with the highest average "research_score" percentage.

avg_research_score = data.groupby('country')['research_score'].mean()
high_country = avg_research_score.idxmax()
high_score = avg_research_score.max()
print(f"The highest average of research score is {high_score} of country {high_country}")

In [ ]:
# 38)	Calculate the average "teaching" score for institutions in the top 5 of "world_rank" in 2015.

df = data[(data['year'] == 2015) & (data['world_rank'] <= 5)]
average = df['teaching_score'].mean()
print(average)

In [ ]:
# 39)	Identify the institution with the highest "research" score in the year 2014.
data_2014 = data[data['year'] == 2014]
high_score = data_2014.groupby('institution')['research_score'].max()
high_institute = high_score.idxmax()
high_score = high_score.max()
print(f"The highest research score is {high_score} of institution {high_institute}")

In [ ]:
# 40)	How many institutions have a "world_rank" greater than 200 in the year 2015?
df = data[(data['year'] == 2015) & (data['world_rank'] > 200)]
count = df.value_counts().sum()
print(count)

In [ ]:
# 41)	What is the mode of the "country" column in the dataset?
mode = data['country'].mode()
print(mode)

In [ ]:
# 42)	Identify the institution with the highest "total_score" in the year 2015.
df = data[(data['year'] == 2015) & (data['total_score'] == data['total_score'].max())]
df[['institution','total_score']]

In [ ]:
# 43)	Calculate the average "citations" score for institutions in the bottom 10 of "world_rank" in 2013.
df = data[data['year'] == 2013]
bottom10_rank = df.nlargest(10,'world_rank')
avg_citations = bottom10_rank.groupby('institution')['citations'].mean()
print(avg_citations)

In [ ]:
# 44)	How many institutions have a "total_score" greater than 80 in the year 2014?
df = data[(data['year'] == 2014) & (data['total_score'] > 80)]
count = df.value_counts().sum()
print(count)

In [ ]:
# 45)	Find the country with the lowest average "score" across all years.
avg_score = data.groupby('country')['score'].mean()
small_avg_score = avg_score.nsmallest(1)
print(small_avg_score)

In [ ]:
# 46)	Calculate the average "patents" percentage for institutions in the top 5 of "alumni_employment" in 2014.
top_5 = data[data['year'] == 2014].nlargest(5,'alumni_employment')
avg_patents = top_5['patents'].mean()
print(avg_patents)

In [ ]:
# 47)	Identify the institution with the lowest "teaching" score in the year 2015.
df = data[(data['year'] == 2015) & (data['teaching_score'] == data['teaching_score'].min())]
df[['institution','teaching_score']]

In [ ]:
# 48)	How many missing values are there in the "broad_impact" column?
data['broad_impact'].isnull().sum()               # during cleaning, we replace missing values with zero.

In [ ]:
# 49)	What is the highest "influence" score in the dataset?
high_value = data['influence'].max()
print(high_value)

Questions for Visualizations:-

In [ ]:
pip install matplotlib

In [ ]:
pip install --upgrade matplotlib

In [ ]:
pip install seaborn

In [ ]:
# 1)	How can you use matplotlib to create a bar chart showing the top 10 universities by their scores in 2012?
import matplotlib.pyplot as plt
import seaborn as sns

# Required data for question
top10_universities = data[data['year'] == 2012].nlargest(10, 'score')

# plotting graph
plt.figure(figsize=(12,5))
plt.barh(top10_universities['institution'], top10_universities['score'], color = 'green')
plt.xlabel("Score")
plt.ylabel("University")
plt.title("Top 10 Universities by Score in 2012")
plt.show()

In [ ]:
# 2)	Create a line plot using seaborn to visualize the trend of scores for the University of Tokyo from 2012 to 2014.

data_tokyo = data[(data['institution'] == 'University of Tokyo') & (data['year'].between(2012,2014))]

plt.figure(figsize=(12,5))
sns.lineplot(x = 'year', y = 'score', data = data_tokyo, marker = 's', color = 'red')

plt.xlabel("Year")
plt.ylabel("Score")
plt.title("Trend of Scores of University of Tokyo (2012-2014)")
plt.xticks(data_tokyo['year'])

plt.show()

In [ ]:
pip install altair

In [ ]:
# 3)How can you use Altair to create a scatter plot comparing the quality of faculty and alumni employment for all universities in 2013?

data_2013 = data[data['year']==2013]
import altair as alt
scatter_plot = alt.Chart(data_2013).mark_circle(size=60).encode(
                x = alt.X('quality_of_faculty', title='Quality of Faculty'),
                y = alt.Y('alumni_employment',title='Alumni Employment'),
                tooltip = ['institution', 'quality_of_faculty', 'alumni_employment']
).interactive()
scatter_plot

In [ ]:
# 4)	Using matplotlib, create a horizontal bar chart to display the top 10 universities in terms of influence in 2014.

top10_2014 = data[data['year'] == 2014].nlargest(10, 'influence')

plt.figure(figsize=(12,6))
plt.barh(top10_2014['institution'], top10_2014['influence'], color = 'blue')

plt.xlabel("Influence")
plt.ylabel("University")
plt.title("Top 10 University's Influence 2014")

plt.show()

In [ ]:
# 5)	How can you use seaborn to create a boxplot for the distribution of scores among universities in 2012?

data_2012 = data[data['year'] == 2012]

plt.figure(figsize=(8,4))
sns.boxplot(x = data_2012['score'], color = 'skyblue')
plt.title("Distribution of Scores 2012")
plt.show()

In [ ]:

# 6)Create a stacked area plot using Altair to represent the change in scores for the top 5 universities from 2012 to 2014.

top5_universities = data[data['year'].between(2012,2014)].nlargest(5,'score')

stacked_area = alt.Chart(top5_universities).mark_area().encode(
                 x = 'year',
                 y = 'score',
                 color="institution",
                 tooltip= ['institution','year','score']
).properties( title = "Score Distribution of Top 5 Universities (2012-2014)"
            ).interactive()

stacked_area

In [ ]:
# 7)How can you use matplotlib to create a pie chart illustrating the distribution of universities in the United States and other countries in 2013?

data_2013 = data[data['year'] == 2013]

country_counts = data_2013['country'].value_counts()
# country_counts

plt.figure(figsize=(10,6))
plt.pie(country_counts, labels = country_counts.index, autopct='%1.1f%%')
plt.title("Distribution of Institutions Across diff Countries")

plt.show()

In [ ]:
# 8)	Using seaborn, create a violin plot to show the distribution of alumni employment scores among universities in 2014.

data_2014 = data[data['year'] == 2014]


plt.figure(figsize=(8,4))
sns.violinplot(y = data_2014['alumni_employment'], data = data_2014)

plt.ylabel('Alumni_Employment_Score')
plt.title('Distibution of Alumni Employment Score among Universities 2014')
plt.grid(True)
plt.show()

In [ ]:
# 9)	How can you use Altair to create a bar chart for the top 10 universities with the highest scores in 2014?
import altair as alt

data_2014 = data[data['year'] == 2014]
top10_universities = data_2014.nlargest(10, 'score')
# top10_universities

barchart = alt.Chart(top10_universities).mark_bar().encode(
             x = alt.X('score',title = 'Score'),
             y = alt.Y('institution', title = 'University'),
             tooltip = ['institution','score']
).properties(title = "Top 10 Universities with Score 2014",
              width = 450, height = 300).interactive()

barchart

In [ ]:
# 10)Create a scatter plot using matplotlib to visualize the correlation between the quality of education and
   #  the quality of faculty for all universities in 2012.

data_2012 = data[data['year'] == 2012]

plt.figure(figsize=(10, 6))
plt.scatter(data_2012['quality_of_education'], data_2012['quality_of_faculty'], color='blue')


plt.xlabel("Quality of Education")
plt.ylabel("Quality of Faculty")
plt.title("Correlation Between Quality of Education and Quality of Faculty (2012)")
plt.grid(True)
plt.show()

In [ ]:
'''11)	How can you use seaborn to create a pair plot to visualize the relationships between the scores, influence, and citations for 
          the top 10 universities in 2013?'''
top10_data_2013 = data[data['year'] == 2013].nlargest(10, 'score')
# top10_data_2013

columns = ['score','influence','citations']

sns.pairplot(top10_data_2013[columns], diag_kind = 'kde')

plt.suptitle("The Relationship(scores,influence,citations)for Top 10 Universities 2013", y = 1.02)
plt.show()

In [ ]:
# 12)	Using Altair, create a bar chart to compare the scores of universities in the United States and the United Kingdom in 2014.

Us_Uk_2014 = data[(data['year'] == 2014) & ((data['country'] == 'USA') | (data['country'] == 'United Kingdom'))]
# Us_Uk_2014

barchart = alt.Chart(Us_Uk_2014).mark_bar().encode(
           x = alt.X('institution', title = 'Unviersity'),
           y = 'score',
           tooltip = ['score', 'institution','country']
).properties(title = "Score of Universities from USA and UK 2014",
              height = 300,
               width = 4000).interactive()

barchart

In [ ]:

# 13)How can you use matplotlib to create a stacked bar chart illustrating the distribution of universities in different countries in 2012?

data_2012 = data[data['year'] == 2012]
country_count = data_2012['country'].value_counts()

country = country_count.index
country_total = country_count.values

plt.figure(figsize=(12,4))
plt.bar(country, country_total, color = ['red', 'blue', 'orange', 'yellow', 'gray'])

plt.xlabel('Country')
plt.ylabel('Count of Universities')
plt.xticks(rotation = 70)
plt.title('Distribution of Universities in diff Countries 2012')

plt.show()

In [ ]:
# 14)	Create a heatmap using seaborn to visualize the correlation matrix of the numerical columns in the dataset.

numeric_data = data.select_dtypes(include = ['int64','float64'])
correlation = numeric_data.corr()

plt.figure(figsize=(12,4))
sns.heatmap(correlation, annot=True, cmap="coolwarm", fmt=".2f", linewidths=0.5)

plt.title('Correlation Matrix of Numerical Columns')

plt.show()

In [ ]:
# 15)	How can you use Altair to create a line chart showing the trend of scores for the top 5 universities in 2014?

top5_2014 = data[data['year'] == 2014].nlargest(5, 'score')

linechart = alt.Chart(top5_2014).mark_line(point=True).encode(
            x = alt.X('institution', title = 'University'),
            y = alt.Y('score', title = 'Score'),
            tooltip = ['score','institution']
).properties(title = "Trend of Top 5 Universities Score 2014",
             width = 700,
             height = 300).interactive()

linechart

In [ ]:
# 16)	Using matplotlib, create a bar chart to show the average scores for universities in each country in 2013.

data_2013 = data[data['year']==2013]
avg_score = data_2013.groupby('country')['score'].mean().sort_values(ascending = True)

country = avg_score.index
country_avg = avg_score.values

plt.figure(figsize=(12,4))
plt.bar(country, country_avg, color = 'orange')

plt.xlabel('Country')
plt.ylabel('Avg of Universities')
plt.xticks(rotation = 90)
plt.title('Avg. University Scores by Country 2013')
plt.grid(axis = 'y', linestyle = '--')
plt.show()

In [ ]:
# 17)How can you use seaborn to create a swarm plot to visualize the distribution of scores among universities in 2014?

data_2014 = data[data['year']==2014]

plt.figure(figsize=(12, 6))
sns.swarmplot(y=data_2014['score'], color='blue')

plt.ylabel("University Score")
plt.title("Distribution of Scores Among Universities (2014)")
plt.grid(True, linestyle='--')

plt.show()

In [ ]:
pip install squarify

In [ ]:
# 18)Create a treemap using Altair to represent the proportion of universities in each country in 2012.

import squarify

data_2012 = data[data['year'] == 2012]
country_counts = data_2012['country'].value_counts().reset_index()

plt.figure(figsize=(12, 6))
squarify.plot(sizes=country_counts['count'], label=country_counts['country'], color=plt.cm.Paired.colors)
plt.title("Treemap of Universities by Country (2012)")

plt.show()

In [ ]:
# 19)How can you use matplotlib to create a histogram showing the distribution of scores for all universities in 2014?

data_2014 = data[data['year']==2014]

plt.figure(figsize=(12, 6))
plt.hist(data_2014['score'], bins=20)

plt.xlabel("Score")
plt.ylabel("Number of Universities")
plt.title("Distribution of University Scores in 2014")
plt.grid(axis='y', linestyle='--')

plt.show()

In [ ]:
# 20)	Using Altair, create a bar chart to compare the influence scores of universities in Canada and Australia in 2013.

data_2013 = data[(data['year'] == 2013) & (data['country'].isin(['Canada', 'Australia']))]

chart = alt.Chart(data_2013).mark_bar().encode(
    x=alt.X('institution', title='University'),
    y=alt.Y('influence', title='Influence Score'),
    color=alt.Color('country:N', title='Country'),
    tooltip=['institution', 'influence', 'country']
).properties(
    title="Comparison of Influence Scores for Universities in Canada and Australia (2013)",
    width=800,
    height=400
)

chart.show()